@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
    display: flex;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    flex: 1;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.form-header {
    color: #344055;
}

.logo {
    margin-left: 12px;
    font-family: "Poppins";
    font-size: 48px;
    font-weight: 100;
    color: #666af6;
}

.form-subtext {
    color: #adaeb5;
}

.form {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
}

label {
    font-size: 20px;
    font-weight: 500;
    color: #75839b;
}

input {
    padding-left: 12px;
    height: 50px;
    border-style: solid;
    border-radius: 5px;
    border-color: #eeeff5;
}

input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #b6b7c0;
}

button {
    margin-top: 15px;
    width: 100%;
    font-weight: 500;
    color: #eff5fe;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    background-color: #666af6;
}

.footer {
    font-weight: 500;
    font-size: 16px;
    color: #d1d2d8;
    margin: 0;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #fafbfc;
}


.right-header {
    display: flex;
    align-items: center
}

img.logo {
    margin-left: 12px;
    margin-bottom: 8px;
}

.right-subtext {
    margin: 12px;
    color: #adaeb5;
}

.small-logo {
    font-size: 24px;
    font-family: "Poppins";
    color: #666af6;
}

img.illustration {
    width: 100%;
}

a {
    text-decoration: none;
    color: #666af6;
}

a:hover {
    cursor: pointer;
}